.timer-container{
  width: 5rem;
}

.timer{
  border: 1px solid black;
  height: 2rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fact{
  width: 80%;
  margin: auto;
}

.text-body{
  width: 80%;
  margin: auto;
}

.mistake{
  color: red;
  text-decoration: underline;
}

.substring1{
}

.substring2{
  color: gray;
}

.typing-input{
  width: 80%;
  height: 1rem;
}