.timer-container{
  width: 5rem;
}

.timer{
  border: 1px solid black;
  height: 2rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fact{
  width: 80%;
  margin: auto;
}

.text-body{
  width: 80%;
  margin: auto;
}

.text-body{
  width: 50rem;
  height: auto;
  overflow: clip;
  display: flex;
}

.text-body p{
  height: 4rem;
  font-size: 3rem;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  border: 1px solid black;
}

.typing-input{
  position: absolute;
  z-index: 2;
  width: 25rem;
  height: 4rem;
  font-size: 3rem;
  text-align: right;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(0,0,0,0);
  color: black;
  -webkit-text-fill-color: transparent;
  border: none;
  padding: 0 0 .7% 0;
}

.typing-input:focus{
  outline: none;
}

.space{
  min-width: .25em;
}

.substring1{
  color: black;
  width: 50%;
  text-align: right;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  white-space: nowrap;
  overflow: hidden
}

.mistake{
  color: red;
  text-decoration: underline;
}

.substring2{
  color: gray;
  width: 50%;
  text-align: left;
  box-sizing: border-box;
}

.space-l{
  padding: 0 0 0 .25em;
}

.space-r{
  padding: 0 .25em 0 0;
}