/*https://www.schemecolor.com/blue-green-gradient-color-scheme.php
https://colorhunt.co/palette/f6ef9823eae61b7fbd112f91
https://mycolor.space/gradient3?ori=to+right+top&hex=%23F6EF98&hex2=%2323EAE6&hex3=%23112F91&submit=submit
*/
body{
  /*background-color: gray;*/
  background-image: linear-gradient(to right bottom, #08B3E5, #0FBED8, #2AF598);
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: white;
}

.App{
  height: auto;
  width: 100%;
}

h1{
  font-weight: normal;
}

.controls-container{
  width: auto;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: auto;
}

.try-again{
  background-color: rgb(0,0,0,0);
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  width: 6rem;
  height: 2.5rem;
  font-family: 'Poppins', sans-serif;
  opacity: 75%;
}

.clickable{
  opacity: 100%;
}

.clickable:hover{
  background-color: rgb(255,255,255,.75);
  border: none;
  color: #0FBED8;
}

.clickable:active{
  background-color: white;
}

.timer{
  height: 100%;
  width: 5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.text-body{
  width: 45rem;
  height: auto;
  overflow: clip;
  display: flex;
  background-color: white;
  margin: 2rem auto 2rem auto;
  border-radius: 10px;
}

.text-body p{
  height: 3rem;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  width: 100%;
  background: linear-gradient(to right, rgb(0,0,0,0), black, black, black, rgb(0,0,0,0));
  background-clip: calc();
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typing-input{
  position: absolute;
  z-index: 2;
  width: 25rem;
  height: 3rem;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  text-align: right;
  background-color: rgb(0,0,0,0);
  color: black;
  -webkit-text-fill-color: transparent;
  border: none;
  padding: 0 0 0 .5rem;
}

.typing-input:focus{
  outline: none;
}

.space{
  min-width: .25em;
}

.substring1{
  color: black;
  width: 50%;
  text-align: right;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  white-space: nowrap;
  overflow: hidden
}

.mistake{
  color: red;
  text-decoration: underline;
}

.substring2{
  color: gray;
  width: 50%;
  text-align: left;
  box-sizing: border-box;
  white-space: nowrap;
}

.space-l{
  padding: 0 0 0 .25em;
}

.space-r{
  padding: 0 .25em 0 0;
}

.results{
  display: flex;
  justify-content: center;
}

.result-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
}

.stat{
  background-color: white;
  border-radius: 10px;
  height: 4rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat p{
  color: black;
}